<div class="hero">
	<div class="hero__info">
		<h5>Entrada destacada</h5>
		<h2>Crea un sitio web usando HTML5</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut at iste in sint quidem omnis modi, hic veritatis deserunt ducimus, blanditiis unde saepe. Placeat obcaecati illum, ullam necessitatibus deleniti!</p>
	</div>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1200px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="image hero">
</div>