<footer id="footer">
	<div class="social">
		<ul>
			<li>
				<a href="#"><img src="assets/img/twitter.png" alt="Twitter icon"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/facebook.png" alt="Facebook icon"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/spotify.png" alt="Spotyfy icon"></a>
			</li>
			<li>
				<a href="#"><img src="assets/img/youtube.png" alt="YouTube icon"></a>
			</li>	
		</ul>
	</div>
	<div class="notes">
		<p>&copy 2020 Todos los derechos reservados</p>
	</div>
</footer>